@import 'tailwindcss';

@theme {
  --color-primary: var(--td-brand-color);
  --color-primary-hover: var(--td-brand-color-hover);
  --color-primary-active: var(--td-brand-color-active);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--td-bg-color-page);
  color: var(--td-text-color-primary);
}

#app {
  height: 100vh;
}
